<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <style>
            @import url("../lib/bootstrap/css/bootstrap-responsive.min.css");
            @import url("../lib/bootstrap/css/bootstrap.min.css");
            @import url("../css/common.css");

            #viewFrame {
                width:1000px;
                height:1000px;
            }
        </style>
        <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="../lib/pdf.js"></script>
     </head>
    <body>

        <div class="container well">
            
       </div>
    </body>
</html>
