{{define "view"}}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <style>
            @import url("lib/bootstrap/css/bootstrap-responsive.min.css");
            @import url("lib/bootstrap/css/bootstrap.min.css");
            @import url("css/common.css");
        </style>
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/jquery-1.8.2.min.js"></script>
        <script src="lib/pdf.js"></script>
    </head>
    <body data-view-id="{{.ViewID}}">

        <script data-main="js/view" src="lib/require.js"></script>
    </body>
</html>
{{end}}
